.ProductDisplay {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1; 
  min-width: 200px; 
}

.ProductItem img {
  max-height: 200px;
  height: auto;
}

.ProductItem h2,
.ProductItem p {
  margin: 10px 0;
}

.ProductItem button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.LoginPrompt {
  color: red;
  font-size: 0.8em;
  visibility: hidden; /* hide by default */
  margin-top: 5px;
}

.ProductItem:hover .LoginPrompt {
  visibility: visible; /* show on hover */
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .ProductDisplay {
      padding: 10px;
    }
  }
  
